{% extends "base.html" %}
{% block content %}
<h1>About Health</h1>
<ul>
<li>Lavishly spread over 17 acres of lush green and pollution free environment, SSIPMT has created a unique atmosphere of educational excellence in the capital city of Raipur.</li>
<li>The institute was established in the year 2008 with due approval from All India Council of Technical Education (AICTE), New Delhi.</li>
<li>Our Institute has been found to be of Quality Management System Standard ie. ISO Certified (NS-EN ISO 9001 : 2008 / ISO 9001 : 2008).</li>
<li>SSIPMT aims to provide best quality Engineering and Management education to its students and strives to inculcate the best of its cultural heritage in the future leaders of the corporate world.</li>
<li>SSIPMT is proud to have achieved extraordinary university results all these years since its inception in 2008.</li>
</ul>
{% endblock %}
